<div class="row">
    <div>
        <h2>Vehicle routing problem</h2>
        <p>
            This application tries to solve modified <a href="https://en.wikipedia.org/wiki/Vehicle_routing_problem">vehicle routing problem.</a>
            <br/>
            Definition of the problem:
            <br/>
            TODO
        </p>
        <p>@Html.ActionLink("Try it out!", "Index", "App", new { area = "" }, null)</p>
    </div>
</div>
