<div class="row">
    <div>
        <h2>Vehicle routing problem</h2>
        <p>
            An error has occured!
            <br/>
            @ViewBag.Error
            <br/>
            @Html.ActionLink("Try again", "Index", "Solver", new { area = "" }, null)
        </p>
    </div>
</div>

